<p>This is the foo view.</p>

	<div id='content' ng-app='ymdosAngularApp' ng-controller='DropCtrl'>
		<select ng-model='selectedPerson' ng-options='obj.name for obj in people'></select>
		<select ng-model='selectedGenre'>
			<option ng-repeat='label in people[selectedPerson.id].music'>{{label}}</option>
		</select>
	</div>

<div id='eventContent' ng-app='ymdosAngularApp' ng-controller='FilterCtrl'>
    <input type='text' ng-model='searchText' />
    <ul>
        <li ng-repeat='person in people | filter:searchText' ng-show='person.live == true'>#{{person.id}} {{person.name}}</li>
    </ul>
    <input type='text' ng-model='newPerson' />
    <button ng-click='addNew()'>Add</button>
</div>